<% provide(:title,"ログイン") %>
	<h1>ログイン </h1>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
				<%=form_for(:session,url:login_path) do |f| %>
					<%= f.label "ID" %>
					<%= f.text_field :login_id,class:'form-control' %>

					<%= f.label :パスワード%>
					<%= f.password_field :password,class:'form-control' %>

					<%= f.submit "ログイン!!",class:"btn btn-primary" %>
			<% end %>

			<p>はじめてですか? <%=link_to "まずは登録!!!",signup_path %> </p>
			</div>
		</div>

	</div>
