<% if logged_in? %>
	<% if nazo.like_user current_user.id %>
		<%#= button_to nazo_like_path(nazo),method: :delete, id: "like-button",remote: true do %>


		<%= button_to nazo_like_path(nazo_id: nazo.id,id:nazo.user.id),method: :delete,id: "like-button",remote: true do %>
			<%= image_tag 'hart.png'  %>

			
			<span>
				<%= nazo.likes.count %>
				<%#= nazo.good_num %>
			</span>

	<% end %>

	<% else %>

		<%= button_to nazo_likes_path(nazo),id: "like-button",remote: true do %>
		<%=image_tag "hart_empty.png" %>

				<span>
					<%= nazo.likes.count %>

				<%#= nazo.good_num %>
				</span>

	<% end %>
<% end %>

<% else %>
	<%= image_tag("hart_empty.png") %>
		<span>
			<%= nazo.good_num%>
			<%#= nazo.good_num %>
		</span>
<% end %>


