
<% provide(:title,@user.name) %>
<h1>
マイプロフィール
</h1>

<div class="row">
	<div class="container">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user,{size:90} %>
				おなまえ:<%= @user.name %><br>
				ID:<%=@user.login_id %><br>
				投稿したなぞなぞ:<%= @user.nazos.count %>個<br>
          おなまえ:<%= @user.name %><br>
          ID:<%=@user.login_id %><br>
          投稿したなぞなぞ:<%= @user.nazos.count %>個<br>
          遊ばれた合計回数:<%= @user.fighted_num%>回<br>
          解かれた合計回数:<%=@user.solved_num%>回<br>
          解いたなぞ:<%=@user.ac_sum%>問<br>
						もらったハート<%=@user.like_sum%>個<br>
			</h1>
		</section>
	</aside>

	<div class="col-md-8 ">
		<% if @user.nazos.any? %>
				<ol class="nazos">
					<%=render @nazos %>
				</ol>
				<%= will_paginate @nazos %>
			<%end %>
		</div>
		</div>
</div>

