
<div  class="<%="fied_ac" if ac?(current_user,nazo)%>">

 <div class="<%="fied_wa" if wa?(current_user,nazo) %>"> 

<li id="nazo-<%=nazo.id %>" >





	<%= link_to gravatar_for(nazo.user,size:50),nazo.user %>
	<span class="user"><%= link_to nazo.user.name, nazo.user %></span>


	<span class="content">

		<table border="0"><tr>
		<td>難しさ:</td>
		<% nazo.difficulty.times do%>
				<td><%= image_tag 'star.png', alt: '星'  %> </td>
			<% end %>
		</tr></table>
	</span>


	<span class="content"><%=nazo.content %></span>

	<table> 
		<% if current_user.id!=nazo.user_id%>
		<td><span class="content"><%=link_to "このなぞなぞに挑戦!!",nazo_path(id: nazo.id) ,class:"btn btn-primary"%></span> </td>
		<td><span id="like-of-<%= nazo.id %>"><%=render partial: 'likes/like',locals: {user:User.find(nazo.user_id),nazo: nazo,likes: @likes}%></span> </td>
		<% end %>
	</table>

	<span class="content">
		<table>
			<td><%=image_tag 'maru.png',size: '48x48'-%></td>
			<td>・・・</td>
			<td><%=nazo.solved_num%>人</td>
		</table>
		</span>
			
	<span class="content">
		<table>
			<td><%=image_tag 'batu.png',size: '48x48'-%></td>
			<td>・・・</td>
			<td><%=nazo.fight_num-nazo.solved_num%>人</td>
		</table>
		</span>
			

	<span class="timestamp">
		<%=time_ago_in_words(nazo.created_at)%>に投稿
	</span>
</li>

</div>
</div>
