
<%if @ans==@correct_ans %>
<h1>	
	あなたの回答は「<%= @ans %>」<br>
	おめでとうございます
	<%=image_tag 'ac.png' %>
</h1>

<% else %>
<h1>
	間違いです！！
	<%=image_tag 'wa.png' %>
</h1>
<% end %>

	<div class="container">	
		<div class="row">
			<div class="col-md-8 col-md-offset-3">
					<%#=button_to  "もう一度挑戦する",action:"replay",class:"square_btn",method:"post" %>
					<%#=button_to  "なぞなぞ一覧へ",action:"nazo_index",class:"square_btn",method:"post" %>
					<%=button_to "もう一度！！",replay_path,class:"square_btn",method: :get %>
					<%=button_to "なぞなぞ一覧へ",nazo_index_path,class:"square_btn",method: :get %>
					<%#=getをつかって　コントローラを呼び出しすぐにリダイレクトさせる %>
			</div>
		</div>
	</div>		



