<% provide(:title,@nazo.content) %>
<h1>
</h1>

<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user,{size:90} %>
				投稿者:<%= @user.name %><br>
			</h1>
		</section>
	</aside>
</div>

<div class="row">
	<div class="container">
		<div class="col-md-6 ">
			問題: <%= @nazo.content %>
				<%= form_tag(ans_path(id:@nazo.id),method: :post) do%>
					<div><%= text_field :form,:ans%></div>
					<%= submit_tag "答える"%>
				<% end %>
		</div>
	</div>
</div>
